{% extends 'portfolio/base.html' %}

{% load leaflet_tags %}
{% load static %}


{% load humanize %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load widget_tweaks %}
<!-- Importing Leaflet CSS and JS libraries -->
{% leaflet_js %}
{% leaflet_css %} 
<link rel="stylesheet" href="{% static 'portfolio/portfoliomain.css' %}">
  
    
    {% leaflet_map "map" callback="window.map_init_basic" %} 
   

    {% block form %}
    <div class="container" style="max-width: 400px;">

    <h4>Get in touch with me</h4>
    <form method='POST' action=".">{% csrf_token %}
   
    {% render_field form.name placeholder="Enter Your Name" class+="form-control" style="margin-bottom: 20px;"%}
    {% render_field form.email placeholder="Enter Your Email" class+="form-control" style="margin-bottom: 20px;"%}
    {% render_field form.message placeholder="Enter A Message" class+="form-control" style="margin-bottom: 20px;"%}
                
      <div class="col-12">
          <button id="post" type="submit" class="btn btn-primary">Submit</button>
      </div> 
  </form>
    </div>
  {% endblock form %}

