{% extends 'portfolio/base.html' %}

{% load leaflet_tags %}
{% load static %}
{% load humanize %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load widget_tweaks %}
<!-- Importing Leaflet CSS and JS libraries -->

{% leaflet_js %}
{% leaflet_css %} 

<link rel="stylesheet" href="{% static 'portfolio/portfoliomain.css' %}">

{% block mainpage %}
<!--Showcase-->
<section class="bg-dark text-light p-5 text-center">
    <div id="mapContainer" class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <h1 style="font-family: consolas;">GIS Analyst</h1>
      </div>
          <!-- JavaScript for all things in the leaflet map -->
      <div id="mapdiv">
    <script type="text/javascript">
  
      function map_init_basic (map, options) {
      
      map.setView([44.30291, -120.84585],14);
  
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      maxZoom: 50
      }).addTo(map);

      //var mapMarkerIcon = L.icon({iconUrl: "{% static 'portfolio/marker.png' %}", iconSize: [32, 32]})
  
      L.circle([44.30291, -120.84585], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 100
      }).addTo(map)
      .bindPopup('Welcome!<br> Feel free to write me a message below.')
      .openPopup();

    }
  
      </script>
    </div>
      
      {% leaflet_map "map" callback="window.map_init_basic" %} 
    </div>
    <div class="container pt-5" style="text-align: right;">
      <div>
        <p style="font-family: consolas;">&lt;Django application built by Jack Colpitt&gt;</p>
      </div>
  </div>
  </section>

  <!-- <section class="bg-primary text-light p-5">
    <div class="container">
       <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-3 mb-mb-0">Sign up for newsletter</h3>

        <div class="input-group news-input">
          <input type="text" class="form-control" placeholder="Enter Email">
          <button class="btn btn-dark btn-lg" type="button">Button</button>
        </div> 

      </div>
    </div>
  </section> -->

  <div class="container pt-3 " style="background-image: url(&quot;{% static 'portfolio/usa_satellite.png' %}&quot;);">
    <div class="row align-items-center">
     
      <div class="d-flex flex-column p-5">
        <div class="card w-100 mx-auto">
          <div class="col-md-4">
            <img src="{% static 'pats/crook_county_logo_lgr.jpg' %}" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title w-100 mx-auto">422 NW Beaver St. Prineville, OR 97754 <br />Office:  (541) 416-3930 Ext. 113<br />Mobile:  (918) 694-2110<br />E-mail:  Jack.Colpitt@crookcountyor.gov<br />Website: <a href="https://co.crook.or.us/gis">https://co.crook.or.us/gis</a><br />Prineville, Oregon</h5>
                <ul class="card-text">
                    <li class="fw-light">Advanced management, design, and maintenance of MySQL & PostgresSQL/PostGIS spatial databases</li>
                    <li class="fw-light">Develop, maintain, and distribute web services through the ArcGIS Enterprise Portal & ArcGIS Server.</li>
                    <li class="fw-light">Utilize Python programming to automate workflows, create custom geoprocessing tools & applications.</li>
                    <li class="fw-light">Carry out spatial and other advanced GIS analysis in support of county departments and co-operating partners.</li>
                </ul>
              <p class="card-text"><small class="text-muted">Last updated 4/7/2023</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column p-5">
        <div class="card w-100 mx-auto">
          <div class="card-body">
            <h4>Get in touch with me</h4>
            <form method='POST' action=".">
              {% csrf_token %}
              {% render_field form.name placeholder="Enter Your Name" class+="form-control" style="margin-bottom: 20px;"%}
              {% render_field form.email placeholder="Enter Your Email" class+="form-control" style="margin-bottom: 20px;"%}
              {% render_field form.message placeholder="Enter A Message" class+="form-control" style="margin-bottom: 20px;"%}
              <div class="col-12">
                <button id="post" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <script type="text/javascript">
    var submitButton = document.getElementById("post")

    submitButton.addEventListener("click", (event => {
      alert("Thank you for reaching out! I'll get back to you soon");
    }));

  </script>
  
  <!--Boxes-->
  <!-- <section class="p-5 align-items-center">
    
    <div class="container">
      <div class="p-3 d-sm-flex align-items-center">
        <h3 class="text-center">Skills</h3>
      </div>
      <hr>
      <div class="row text-center">
        <div class="col-md">
          <div class="card bg-dark text-light h-100">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
              <img class="img-fluid" src="{% static 'portfolio/python.png' %}" alt="">
            </div>
            <div class="card-body text-center">
              <h3 class="card-title mb-3">
                Python
              </h3>
            </div>
          </div>
        </div> 
        <div class="col-md">
          <div class="card bg-dark text-light h-100">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
              <img class="img-fluid" src="{% static 'portfolio/django-icon.png' %}" alt="">
            </div>
            <div class="card-body text-center">
              <h3 class="card-title mb-3">
                Django
              </h3>
            </div>
          </div>
        </div>        
        <div class="col-md">
          <div class="card bg-dark text-light h-100">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
              <img class="img-fluid" src="{% static 'portfolio/arcgis.png' %}" alt="">
            </div>
            <div class="card-body text-center">
              <h3 class="card-title mb-3">
                ESRI Suite
              </h3>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </section>
  
  <section class="p-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md">
          <div class="card bg-dark text-light h-100">
            <img class="card-img-top img-fluid" src="{% static 'portfolio/gdal.png' %}" alt="">
            <div class="card-body text-center">
              <h3 class="card-title mb-3">
                GDAL/OGR
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-dark text-light h-100">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
              <img class="img-fluid" src="{% static 'portfolio/pandas.png' %}" alt="">
            </div>
            <div class="card-body text-center">
              <h3 class="card-title mb-3">
                Pandas
              </h3>
            </div>
          </div>
        </div>  
        <div class="col-md">
          <div class="card bg-dark text-light h-100">
            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
              <img class="img-fluid" src="{% static 'portfolio/QGIS.png' %}" alt="">
            </div>
            <div class="card-body text-center">
              <h3 class="card-title mb-3">
                QGIS
              </h3>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </section> -->

  <section>
    <h3 class="text-center">Skills</h3>
      <hr>
    <div class="p-3 d-sm-flex align-items-center">
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <img class="img-fluid" src="{% static 'portfolio/python.png' %}" alt="">
          <img class="img-fluid" src="{% static 'portfolio/django-icon.png' %}" alt="">
          <img class="img-fluid" src="{% static 'portfolio/arcgis.png' %}" alt=""> 
        </div>
        <div class="col">
          <img class="img-fluid" src="{% static 'portfolio/QGIS.png' %}" alt="">
          <img class="img-fluid" src="{% static 'portfolio/postgresql.png' %}" alt="">
          <img class="img-fluid" src="{% static 'portfolio/leaflet.png' %}" alt="">
        </div>
        <div class="col">
          <img class="img-fluid" src="{% static 'portfolio/git.png' %}" alt="">
          <img class="img-fluid" src="{% static 'portfolio/gdal.png' %}" alt="">
          <img class="img-fluid" src="{% static 'portfolio/pandas.png' %}" alt="">
        </div>
        <div class="col">
          <img class="img-fluid" src="{% static 'portfolio/javascript.png' %}" alt="">
          <img class="img-fluid" src="{% static 'portfolio/jupyter.png' %}" alt="">
          <img class="img-fluid" src="{% static 'portfolio/github.png' %}" alt="">
        </div>
      </div>
    </div>
  </section>
  {% endblock mainpage %}