<!DOCTYPE html>
<html>
<head>
{% load static %}
{% load humanize %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load widget_tweaks %}
<!-- Importing Leaflet CSS and JS libraries -->
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %} 
<link rel="stylesheet" href="{% static 'portfolio/portfoliomain.css' %}">
<title>Page Title</title>
{{map.header.render|safe}}
</head>
<body>
    
    <!-- JavaScript for all things in the leaflet map -->

    <!-- <script type="text/javascript">
  
    function map_init_basic (map, options) {
    
    map.setView([44.30291, -120.84585],14);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    maxZoom: 50
    }).addTo(map);

    L.marker([44.30291, -120.84585]).addTo(map)
    .bindPopup('Welcome!<br> Feel free to write me a message below.')
    .openPopup();

    }

    </script>
  
    
    {% leaflet_map "map" callback="window.map_init_basic" %}  -->
    




</html> 


