{% extends 'pats/base.html' %}
{% load static %}
{% load humanize %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'pats/patsmain.css' %}">

{% block content %}
<nav class="navbar navbar-expand-lg nav-search">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="generalSearch" class="nav-link nav-link-search-active" href="#">General Search</a>
          </li>
          <li class="nav-item">
            <a id="searchAccount" class="nav-link nav-link-search" href="#">Search Account</a>
          </li>
          <li class="nav-item">
            <a id="searchMT" class="nav-link nav-link-search" href="#">Search Maptaxlot</a>
          </li>
          <li class="nav-item">
            <a id="searchOwner" class="nav-link nav-link-search" href="#">Search Owner</a>
          </li>
          <li class="nav-item">
            <a id="searchAddress" class="nav-link nav-link-search" href="#">Search Address</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="d-flex justify-conent-center align-items-center search-card-container">

{#    <div class="col-6 mx-auto search-card">#}
{#      <div class="card col-8">#}
{#        <img class="d-flex" src="{% static 'pats/prineville_taxlots.jpg' %}" class="card-img-top" alt="...">#}
{#        <div class="card-body">#}
{#          <div class="row align-items-start pt-1">#}
{#            <div class="col-9">#}
{#              <input id="searchBar" class="form-control" type="text" placeholder="Search Here" aria-label="default input example">#}
{#            </div>#}
{#            <div id="searchBtnDiv" class="col">#}
{#              <button id="searchBtn" type="button" class="btn btn-primary">Submit</button>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}

<div class="mx-auto" style="width: 600px;">

<div class="row justify-conent-center align-items-center">
    <p><i>Search By: Name, Account, Maptaxlot, Situs Address</i></p>
            <div class="col-9">
              <input id="searchBar" class="form-control" type="text" placeholder="Search Here" aria-label="default input example">
            </div>
            <div id="searchBtnDiv" class="col">
              <button id="searchBtn" type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
  </div>


</div>

<script type="text/javascript">


    var btn = document.getElementById("searchBtn");
    var searchBar = document.getElementById("searchBar");
    var searchAccount = document.getElementById("searchAccount");
    var generalSearch = document.getElementById("generalSearch");
    var mtsearch = document.getElementById("searchMT");
    var ownerSearch = document.getElementById("searchOwner");
    var addressSearch = document.getElementById("searchAddress");

    // Set a flag to track click status
    let acctClicked = false;
    let genClicked = false;
    let mtClicked = false;
    let ownerClicked = false;
    let addressClicked = false;



    //Revised link style modifier
    searchAccount.addEventListener('click', () => {
      acctClicked = true;
      genClicked = false;
      mtClicked = false;
      ownerClicked = false;
      addressClicked = false;
      var a = document.getElementsByClassName('nav-link-search-active')
      for (i = 0; i < a.length; i++) {
          a[i].classList.add('nav-link-search');
          a[i].classList.remove('nav-link-search-active');
      }
      searchAccount.classList.remove('nav-link-search');
      searchAccount.classList.add('nav-link-search-active');
    });



    // Add click event listener to the link


    // Add click event listener to the link
    generalSearch.addEventListener('click', () => {
      acctClicked = false;
      genClicked = true;
      mtClicked = false;
      ownerClicked = false;
      addressClicked = false;
      var a = document.getElementsByClassName('nav-link-search-active')
      for (i = 0; i < a.length; i++) {
          a[i].classList.add('nav-link-search');
          a[i].classList.remove('nav-link-search-active');
      }
      generalSearch.classList.remove('nav-link-search');
      generalSearch.classList.add('nav-link-search-active');
    });

    mtsearch.addEventListener('click', () => {
        mtClicked = true;
        acctClicked = false;
        genClicked = false;
        ownerClicked = false;
        addressClicked = false;
        var a = document.getElementsByClassName('nav-link-search-active')
      for (i = 0; i < a.length; i++) {
          a[i].classList.add('nav-link-search');
          a[i].classList.remove('nav-link-search-active');
      }
      mtsearch.classList.remove('nav-link-search');
      mtsearch.classList.add('nav-link-search-active');
    });

    ownerSearch.addEventListener('click', () => {
        acctClicked = false;
        genClicked = false;
        mtClicked = false;
        ownerClicked = true;
        addressClicked = false;
        var a = document.getElementsByClassName('nav-link-search-active')
      for (i = 0; i < a.length; i++) {
          a[i].classList.add('nav-link-search');
          a[i].classList.remove('nav-link-search-active');
      }
      ownerSearch.classList.remove('nav-link-search');
      ownerSearch.classList.add('nav-link-search-active');
    });

    addressSearch.addEventListener('click', () => {
        acctClicked = false;
        genClicked = false;
        mtClicked = false;
        ownerClicked = false;
        addressClicked = true;
        var a = document.getElementsByClassName('nav-link-search-active')
      for (i = 0; i < a.length; i++) {
          a[i].classList.add('nav-link-search');
          a[i].classList.remove('nav-link-search-active');
      }
      addressSearch.classList.remove('nav-link-search');
      addressSearch.classList.add('nav-link-search-active');
    });


    btn.addEventListener("click", function() {
        var query = searchBar.value;
        console.log("search account:" + acctClicked);
        console.log("search general:" + genClicked);
        if (query != '' && acctClicked == true) {
          window.location.href = "{% url 'account_query' 0 %}".replace(/0/, query)
        }
        else if (query != '' && mtClicked == true) {
          window.location.href = "{% url 'mt_query' 0 %}".replace(/0/, query)
        }
        else if (query != '' && ownerClicked == true) {
          window.location.href = "{% url 'owner_query' 0 %}".replace(/0/, query)
        }
        else if (query != '' && addressClicked == true) {
          window.location.href = "{% url 'address_query' 0 %}".replace(/0/, query)
        }
        else if (query != '') {
          window.location.href = "search/" + query
        }
    });

    searchBar.addEventListener("keydown", function(e) {
        var query = searchBar.value;
        console.log("search account:" + acctClicked);
        console.log("search general:" + genClicked);
        if (e.key === 'Enter' && query != '' &&  acctClicked == true) {
            window.location.href = "{% url 'account_query' 0 %}".replace(/0/, query)
        }
        else if (e.key === 'Enter' && query != '' && mtClicked == true) {
          window.location.href = "{% url 'mt_query' 0 %}".replace(/0/, query)
        }
        else if (e.key === 'Enter' && query != '' && ownerClicked == true) {
          window.location.href = "{% url 'owner_query' 0 %}".replace(/0/, query)
        }
        else if (e.key === 'Enter' &&query != '' && addressClicked == true) {
          window.location.href = "{% url 'address_query' 0 %}".replace(/0/, query)
        }
        else if (e.key === 'Enter' && query != '') {
            window.location.href = "search/" + query
        }
    });

</script>

{% endblock %}