html,
body {
    height: 100%;
}

#pagebody {
    min-height: 100vh;
    padding: 50px;
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
}

/*.card.mb-3{*/
/*    opacity: 0.8;*/
/*}*/

.navbar-brand {
    padding-left: 50px;
}

.nav-link.dropdown-toggle {
    font-size: large;
}

#gjtitle {
    font-family: consolas;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 10px;
    padding-top: 20px;
    margin: 50px;
}

#tag {
    font-family: consolas;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 10px;
    padding-top: 20px;
    margin: 50px;
}

